<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<typeAliases>
		<typeAlias type="com.spring.muknolja.chat.model.vo.ChatRoom" alias="ChatRoom"/>
		<typeAlias type="com.spring.muknolja.chat.model.vo.ChatMessage" alias="ChatMessage"/>
		<typeAlias type="com.spring.muknolja.chat.model.vo.ChatInvite" alias="ChatInvite"/>
		<typeAlias type="com.spring.muknolja.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.spring.muknolja.hotel.model.vo.Hotel" alias="Hotel"/>
		<typeAlias type="com.spring.muknolja.hotel.model.vo.Room" alias="Room"/>
		<typeAlias type="com.spring.muknolja.hotel.model.vo.Reservation" alias="Reservation"/>
		<typeAlias type="com.spring.muknolja.hotel.model.vo.LikeHotel" alias="LikeHotel"/>
		<typeAlias type="com.spring.muknolja.hotel.model.vo.Review" alias="Review"/>
		<typeAlias type="com.spring.muknolja.common.model.vo.AttachedFile" alias="AttachedFile"/>
		<typeAlias type="com.spring.muknolja.member.model.vo.Visit" alias="Visit"/>
		<typeAlias type="com.spring.muknolja.common.model.vo.Board" alias="Board"/>
		<typeAlias type="com.spring.muknolja.common.model.vo.AD" alias="AD"/>
		<typeAlias type="com.spring.muknolja.common.model.vo.QA" alias="QA"/>
		<typeAlias type="com.spring.muknolja.party.model.vo.Party" alias="Party"/>
	</typeAliases>

	<mappers>
		<mapper resource="mappers/chat-mapper.xml"/>
		<mapper resource="mappers/hotel-mapper.xml"/>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/party-mapper.xml"/>
	</mappers>
</configuration>
