<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<typeAliases>
		<typeAlias type="com.spring.muknolja.chat.vo.ChatRoom" alias="ChatRoom"/>
		<typeAlias type="com.spring.muknolja.chat.vo.ChatMessage" alias="ChatMessage"/>
	</typeAliases>

	<mappers>
		<mapper resource="mappers/chat-mapper.xml"/>
	</mappers>
</configuration>
