<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<typeAliases>
		<typeAlias type="com.spring.muknolja.chat.model.vo.ChatRoom" alias="ChatRoom"/>
		<typeAlias type="com.spring.muknolja.chat.model.vo.ChatMessage" alias="ChatMessage"/>
		<typeAlias type="com.spring.muknolja.chat.model.vo.ChatInvite" alias="ChatInvite"/>
		<typeAlias type="com.spring.muknolja.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.spring.muknolja.hotel.model.vo.Hotel" alias="Hotel"/>
		<typeAlias type="com.spring.muknolja.hotel.model.vo.Room" alias="Room"/>
		<typeAlias type="com.spring.muknolja.common.model.vo.AttachedFile" alias="AttachedFile"/>
	</typeAliases>

	<mappers>
		<mapper resource="mappers/chat-mapper.xml"/>
		<mapper resource="mappers/hotel-mapper.xml"/>
		<mapper resource="mappers/member-mapper.xml"/>
	</mappers>
</configuration>
