<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="chatmapper">
	<insert id="createRoom">
		insert all
		into CHAT_ROOM
		values(#{chatRoom.roomCode}, #{chatRoom.roomName})
		into CHAT_USER
		values(#{chatRoom.roomCode}, #{id})
		select * from dual
	</insert>
	
	<select id="selectChatRoomList" resultMap="ChatRoomResultSet">
		select CHAT_ROOM_CODE, CHAT_ROOM_NAME, max(TRANSFER_TIME) max
		from CHAT_ROOM
			join CHAT_USER u using(CHAT_ROOM_CODE)
			left join CHAT_MESSAGE using(CHAT_ROOM_CODE)
            left join CHAT_AVAILABILITY using(CHAT_ID)
		where u.PARTICIPANT_ID = #{id}
        group by CHAT_ROOM_CODE, CHAT_ROOM_NAME
        order by max desc nulls first
		
	</select>
	
	<resultMap type="ChatRoom" id="ChatRoomResultSet">
		<id column="CHAT_ROOM_CODE" property="roomCode"/>
		<result column="BOARD_ID" property="BoardId"/>
		<result column="CHAT_ROOM_NAME" property="roomName"/>
		<result column="max" property="maxTransferTime"/>
		<result column="count" property="receiveCount"/>
	</resultMap>
	
	<select id="selectChatMessage" resultMap="ChatMessageResultSet">
		select *
		from CHAT_MESSAGE
			join member on(SENDER_ID = ID)
		where CHAT_ROOM_CODE = #{roomCode}
		order by CHAT_ID
	</select>
	
	<resultMap type="ChatMessage" id="ChatMessageResultSet">
		<id column="CHAT_ID" property="chatId"/>
		<result column="SENDER_ID" property="senderId"/>
		<result column="CHAT_ROOM_CODE" property="roomCode"/>
		<result column="CHAT_CONTENTS" property="chatContent"/>
		<result column="TRANSFER_TIME" property="transferTime"/>
		<result column="NICKNAME" property="nickName"/>
	</resultMap>
	
	<insert id="insertMessage">
		insert all
		into CHAT_MESSAGE
		values(SEQ_CHATID.nextval, #{message.senderId}, #{message.roomCode}, #{message.chatContent}, systimestamp)
		<foreach collection="iList" item="id">
			<if test="message.senderId == id">
				into CHAT_AVAILABILITY
				values(SEQ_CHATID.currval, #{id}, 'Y')
			</if>
			<if test="message.senderId != id">
				into CHAT_AVAILABILITY
				values(SEQ_CHATID.currval, #{id}, default)
			</if>
		</foreach>
		select * from dual
	</insert>
	
	<resultMap type="Member" id="memberResultSet">
  		<id column="ID" property="id"/>
  		<result column="PWD" property="pwd"/>
  		<result column="NAME" property="name"/>
  		<result column="NICKNAME" property="nickName"/>
  		<result column="EMAIL" property="email"/>
  		<result column="ADDRESS" property="address"/>
  		<result column="GENDER" property="gender"/>
  		<result column="ENROLL_DATE" property="enrollDate"/>
  		<result column="MEMBER_TYPE" property="memberType"/>
  		<result column="STATUS" property="status"/>
  	</resultMap>
  	
  	<select id="selectUser" resultMap="memberResultSet">
  		select *
  		from member
  		where NICKNAME = #{nick}
  	</select>
  	
  	<select id="selectChatRoom" resultMap="ChatRoomResultSet">
  		select *
  		from CHAT_ROOM
  		where CHAT_ROOM_CODE = #{roomCode}
  	</select>
  	
  	<insert id="inviteChat">
  		insert into CHAT_INVITE
  		values(#{roomCode}, #{recipentId}, default)
  	</insert>
	
	<select id="selectInvite" resultMap="ChatInviteResultSet">
		select *
		from CHAT_INVITE
			join CHAT_ROOM using(CHAT_ROOM_CODE)
		where RECIPIENT_ID = #{id} and APPROVAL_YN = 'N'
	</select>
	
	<resultMap type="ChatInvite" id="ChatInviteResultSet">
		<id column="CHAT_ROOM_CODE" property="roomCode"/>
		<result column="RECIPIENT_ID" property="recipentId"/>
		<result column="CHAT_ROOM_NAME" property="roomName"/>
	</resultMap>
	
	<insert id="participate">
		insert into CHAT_USER
		values(#{roomCode}, #{id})
	</insert>
	
	<update id="consentInvite">
		update CHAT_INVITE
		set APPROVAL_YN = 'Y'
		where CHAT_ROOM_CODE = #{roomCode} and RECIPIENT_ID = #{id}
	</update>
	
	<delete id="refusalInvite">
		delete from CHAT_INVITE
		where CHAT_ROOM_CODE = #{roomCode} and RECIPIENT_ID = #{id}
	</delete>
	
	<delete id="chatRoomOut">
		delete from CHAT_USER
		where CHAT_ROOM_CODE = #{roomCode} and PARTICIPANT_ID = #{id}
	</delete>
	
	<select id="selectChatUser" resultType="String">
		select PARTICIPANT_ID
		from CHAT_USER
		where CHAT_ROOM_CODE = #{roomCode}
	</select>
	
	<select id="selectChatList" resultType="String">
		select CHAT_ID
		from CHAT_MESSAGE
			join CHAT_AVAILABILITY using(CHAT_ID)
		where CHAT_ROOM_CODE = #{roomCode} and RECEIVING_STATUS = 'N'
	</select>
	
	<update id="updateAvailability">
		update CHAT_AVAILABILITY
		set RECEIVING_STATUS = 'Y'
		where PARTICIPANT_ID = #{id} and CHAT_ID in
		<foreach collection="cList" item="c" separator="," open="(" close=")">
			#{c}
		</foreach>
	</update>
	
	<update id="availablilty">
		update CHAT_AVAILABILITY
		set RECEIVING_STATUS = 'Y'
		where PARTICIPANT_ID = #{id} and CHAT_ID = #{chatId}
	</update>
	
	<select id="selectCount" resultMap="ChatRoomResultSet">
		select CHAT_ROOM_CODE, count(RECEIVING_STATUS) count
		from CHAT_ROOM
			join CHAT_USER u using(CHAT_ROOM_CODE)
			left join CHAT_MESSAGE using(CHAT_ROOM_CODE)
            right join CHAT_AVAILABILITY a using(CHAT_ID)
		where u.PARTICIPANT_ID = #{id} and a.PARTICIPANT_ID = #{id} and RECEIVING_STATUS = 'N'
        group by CHAT_ROOM_CODE, CHAT_ROOM_NAME
	</select>
	
	<select id="selectChatId" resultType="_int">
		select SEQ_CHATID.currval from dual
	</select>
</mapper>