<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="chatmapper">
	<insert id="createRoom">
		insert into CHAT_ROOM
		values(#{roomCode}, #{BoardId}, #{roomName})
	</insert>
	
	<select id="selectChatRoomList" resultMap="ChatRoomResultSet">
		select *
		from CHAT_ROOM
		
	</select>
	
	<resultMap type="ChatRoom" id="ChatRoomResultSet">
		<id column="CHAT_ROOM_CODE" property="roomCode"/>
		<result column="BOARD_ID" property="BoardId"/>
		<result column="CHAT_ROOM_NAME" property="roomName"/>
	</resultMap>
	
	<select id="selectChatMessage" resultMap="ChatMessageResultSet">
		select *
		from CHAT_MESSAGE
		where CHAT_ROOM_CODE = #{roomCode}
		order by CHAT_ID desc
	</select>
	
	<resultMap type="ChatMessage" id="ChatMessageResultSet">
		<id column="CHAT_ID" property="chatId"/>
		<result column="SENDER_ID" property="senderId"/>
		<result column="CHAT_ROOM_CODE" property="roomCode"/>
		<result column="CHAT_CONTENTS" property="chatContent"/>
		<result column="TRANSFER_TIME" property="transferTime"/>
	</resultMap>
	
	
</mapper>