<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hotelmapper">
	<insert id="insertRoom">
		insert into ROOM
		values(SEQ_ROOMID.nextval, #{hotelId}, #{maxAccept}, #{roomName}, #{roomPrice}, #{checkinTime}, #{checkoutTime}, #{totalNumber}, #{roomInfo}, #{roomIntro}, default)
	</insert>
	
	<insert id="insertRoomAttm">
		insert all
		<foreach collection="list" item="a">
			into ATTACHED_FILE
			values(NEW_FID, #{a.fileType}, sysdate, #{a.fileName}, #{a.fileModifyName}, #{a.fileLink}, default, #{a.fileThumbnail})
			into ROOM_IMG
			values(CUR_FID, SEQ_ROOMID.currval)
		</foreach>
		select * from dual
	</insert>
	
	<select id="selectHotel" resultMap="hotelResultSet">
		select hotel_id, ent_id, hotel_name, hotel_phone, hotel_address, wifi, breakfast, amenity, park, swim, fitness, ent_approval, modify_date, star, hotel_info, hotel_intro, hotel_status,
		(select min(room_price) from hotel join room using(hotel_id) where hotel_id=hotel_id) as min_Price
		from hotel
		where hotel_id=#{hotelId} and hotel_status='Y'
	</select>
	
	<select id="selectHotelImg" resultMap="attachedFileResultSet">
		select *
		from hotel_img
			join attached_file using(file_id)
		where hotel_id=#{hotelId}
	</select>
	
	<select id="selectAllRoom" resultMap="roomResultSet">
		select *
		from room
		where hotel_id=#{hotelId} and room_status='Y'
		order by room_id desc
	</select>
	
	<select id="selectAllRoomThumbnail" resultMap="attachedFileResultSet">
		select *
		from room_img
			join attached_file using(file_id)
			join room using(room_id)
		where hotel_id=#{hotelId} and room_status='Y' and file_thumbnail='Y'
		order by room_id desc
	</select>
	
	<select id="selectRoomImg" resultMap="attachedFileResultSet">
		select *
		from room_img
			join attached_file using(file_id)
		where room_id=#{roomId}
	</select>
	
	<select id="selectRoomThumbnail" resultMap="attachedFileResultSet">
		select *
		from room_img
			join attached_file using(file_id)
		where room_id=#{roomId} and file_thumbnail='Y'
	</select>
	
	<insert id="insertHotel">
		insert into hotel
		values(
			SEQ_HID.nextval, #{entId}, #{hotelName}, #{hotelPhone}, #{hotelAddress}, #{wifi}, #{breakfast}, #{amenity}, #{park}, #{swim}, #{fitness}, null, null, default, sysdate, #{star}, #{hotelInfo}, #{hotelIntro}, default
		)
	</insert>
	
	<insert id="insertHotelAttm">
		insert all
		<foreach collection="list" item="a">
			into ATTACHED_FILE
			values(NEW_FID, #{a.fileType}, sysdate, #{a.fileName}, #{a.fileModifyName}, #{a.fileLink}, default, #{a.fileThumbnail})
			into HOTEL_IMG
			values(CUR_FID, SEQ_HID.currval, default)
		</foreach>
		select * from dual
	</insert>
	
	<select id="selectRoom" resultMap="roomResultSet">
		select *
		from room
		where room_id=#{roomId}
	</select>
	
	<select id="getCurrentReservationId" resultType="_int">
		select last_number
		from user_sequences
		where sequence_name = 'SEQ_RESERVATIONID'
	</select>
	
	<insert id="insertReservation">
		insert all
			into reservation
			values(SEQ_RESERVATIONID.nextval, #{r.memberId}, #{r.roomId}, #{r.checkinDate}, #{r.checkoutDate}, default, #{r.paymentMethod}, #{r.paymentAmount}, sysdate, #{r.reservationName}, #{r.reservationPhone})
		<foreach collection="list" item="re">
			into reserve
			values(#{re.reservationDate}, #{re.roomId}, SEQ_RESERVATIONID.currval)
		</foreach>
		select * from dual
	</insert>
	
	<select id="isLikeHotel" resultType="_int">
		select count(*)
		from like_hotel
		where id=#{id} and hotel_id=#{hotelId}
	</select>
	
	<insert id="insertLikeHotel">
		insert into like_hotel
		values(#{id}, #{hotelId})
	</insert>
	
	<delete id="deleteLikeHotel">
		delete from like_hotel
		where id=#{id} and hotel_id=#{hotelId}
	</delete>
	
	<select id="writableReview" resultMap="reservationResultSet">
		select *
		from reservation
			join room using(room_id)
		where member_id=#{memberId} and hotel_id=#{hotelId} and <![CDATA[checkout_date+1<sysdate]]>
			and (select count(*) from review where review.reservation_id=reservation.reservation_id)=0
		order by reservation.reservation_id desc
	</select>
	
	<insert id="insertReview">
		insert into review
		values(SEQ_REPLYID.nextval, #{memberId}, #{reservationId}, #{rating}, #{reviewContent}, default, null, default)
	</insert>
	
	<select id="selectReviewList" resultMap="reviewResultSet">
		select *
		from review
			join reservation using(reservation_id)
			join room using(room_id)
			join hotel using(hotel_id)
			join member on(review.member_id=id)
		where hotel_id=#{hotelId} and review_status='Y'
		order by review_id desc
	</select>
	
	<select id="selectAvgRating" resultType="_int">
		select round(avg(rating), 1)
		from review
			join reservation using(reservation_id)
			join room using(room_id)
		where hotel_id=#{hotelId} and review_status='Y'
	</select>
	
	<select id="selectReviewCount" resultType="_int">
		select count(*)
		from review
			join reservation using(reservation_id)
			join room using(room_id)
		where hotel_id=#{hotelId} and review_status='Y'
	</select>
	
	<select id="selectHotelById" resultMap="hotelResultSet">
		select *
		from hotel
		where ent_id=#{id}
	</select>
	
	<select id="getListCount" resultType="_int">
		select count(*)
		from hotel
		where hotel_status='Y'
	</select>
	
	<select id="selectHotelList" resultMap="hotelResultSet">
		select hotel_id, ent_id, hotel_name, hotel_phone, hotel_address, wifi, breakfast, amenity, park, swim, fitness, ent_approval, modify_date, star, hotel_info, hotel_intro, hotel_status,
		(select min(room_price) from hotel join room using(hotel_id) where hotel_id=hotel_id) as min_price
		from hotel
		where hotel_status='Y'
		order by hotel_id desc
	</select>
	
	<select id="selectHotelImgList" resultMap="attachedFileResultSet">
		select *
		from hotel_img
			join attached_file using(file_id)
			join hotel using(hotel_id)
		where hotel_status='Y' and file_thumbnail='Y'
		order by hotel_id desc
	</select>
	
	
	
	
	<resultMap type="Hotel" id="hotelResultSet">
		<id column="HOTEL_ID" property="hotelId"/>
		<result column="ENT_ID" property="entId"/>
		<result column="HOTEL_NAME" property="hotelName"/>
		<result column="HOTEL_PHONE" property="hotelPhone"/>
		<result column="HOTEL_ADDRESS" property="hotelAddress"/>
		<result column="WIFI" property="wifi"/>
		<result column="BREAKFAST" property="breakfast"/>
		<result column="AMENITY" property="amenity"/>
		<result column="PARK" property="park"/>
		<result column="STAR" property="star"/>
		<result column="SWIM" property="swim"/>
		<result column="FITNESS" property="fitness"/>
		<result column="ENT_APPROVAL" property="entApproval"/>
		<result column="MODIFY_DATE" property="modifyDate"/>
		<result column="HOTEL_INFO" property="hotelInfo"/>
		<result column="HOTEL_INTRO" property="hotelIntro"/>
		<result column="HOTEL_STATUS" property="hotelStatus"/>
		<result column="MIN_PRICE" property="minPrice"/>
	</resultMap>
	
	<resultMap type="Room" id="roomResultSet">
		<id column="ROOM_ID" property="roomId"/>
		<result column="HOTEL_ID" property="hotelId"/>
		<result column="MAX_ACCEPT" property="maxAccept"/>
		<result column="ROOM_NAME" property="roomName"/>
		<result column="ROOM_PRICE" property="roomPrice"/>
		<result column="CHECKIN_TIME" property="checkinTime"/>
		<result column="CHECKOUT_TIME" property="checkoutTime"/>
		<result column="TOTAL_NUMBER" property="totalNumber"/>
		<result column="ROOM_INFO" property="roomInfo"/>
		<result column="ROOM_INTRO" property="roomIntro"/>
		<result column="ROOM_STATUS" property="roomStatus"/>
	</resultMap>
	
	<resultMap type="AttachedFile" id="attachedFileResultSet">
		<id column="ROOM_ID" property="fileId"/>
		<result column="FILE_TYPE" property="fileType"/>
		<result column="FILE_CREATE_DATE" property="fileCreateDate"/>
		<result column="FILE_NAME" property="fileName"/>
		<result column="FILE_MODIFY_NAME" property="fileModifyName"/>
		<result column="FILE_LINK" property="fileLink"/>
		<result column="FILE_STATUS" property="fileStatus"/>
		<result column="FILE_THUMBNAIL" property="fileThumbnail"/>
	</resultMap>
	
	<resultMap type="Reservation" id="reservationResultSet">
		<id column="RESERVATION_ID" property="reservationId"/>
		<result column="MEMBER_ID" property="memberId"/>
		<result column="HOTEL_ID" property="hotelId"/>
		<result column="ROOM_ID" property="roomId"/>
		<result column="HOTEL_NAME" property="hotelName"/>
		<result column="ROOM_NAME" property="roomName"/>
		<result column="CHECKIN_DATE" property="checkinDate"/>
		<result column="CHECKOUT_DATE" property="checkoutDate"/>
		<result column="RESERVATION_STATUS" property="reservationStatus"/>
		<result column="PAYMENT_METHOD" property="paymentMethod"/>
		<result column="PAYMENT_AMOUNT" property="paymentAmount"/>
		<result column="PAYMENT_DATE" property="paymentDate"/>
		<result column="RESERVATION_NAME" property="reservationName"/>
		<result column="RESERVATION_PHONE" property="reservationPhone"/>
		<result column="CHECKIN_TIME" property="checkinTime"/>
		<result column="CHECKOUT_TIME" property="checkoutTime"/>
	</resultMap>
	
	<resultMap type="LikeHotel" id="likeHotelResultSet">
		<result column="ID" property="id"/>
		<result column="HOTEL_ID" property="hotelId"/>
	</resultMap>
	
	<resultMap type="Review" id="reviewResultSet">
		<result column="REVIEW_ID" property="reviewId"/>
		<result column="MEMBER_ID" property="memberId"/>
		<result column="NICKNAME" property="nickName"/>
		<result column="RESERVATION_ID" property="ReservationId"/>
		<result column="HOTEL_NAME" property="hotelName"/>
		<result column="ROOM_NAME" property="roomName"/>
		<result column="CHECKIN_DATE" property="checkinDate"/>
		<result column="CHECKOUT_DATE" property="checkoutDate"/>
		<result column="RATING" property="rating"/>
		<result column="REVIEW_CONTENT" property="reviewContent"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="BUSINESS_REPLY" property="businessReply"/>
		<result column="REVIEW_STATUS" property="reviewStatus"/>
	</resultMap>
</mapper>