<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hotelmapper">
	<insert id="insertRoom">
		insert into ROOM
		values(SEQ_ROOMID.nextval, #{hotelId}, #{maxAccept}, #{roomName}, #{roomPrice}, #{checkinTime}, #{checkoutTime}, #{totalNumber}, #{roomInfo}, #{roomIntro}, default)
	</insert>
	
	<insert id="insertRoomImg">
		insert all
		<foreach collection="list" item="a">
			into ATTACHED_FILE
			values(NEW_FID, #{a.fileType}, sysdate, #{a.fileName}, #{a.fileModifyName}, #{a.fileLink}, default, #{a.fileThumbnail})
			into ROOM_IMG
			values(CUR_FID, SEQ_ROOMID.currval)
		</foreach>
		select * from dual
	</insert>
	
	<select id="selectHotel" resultMap="hotelResultSet">
		select hotel_id, ent_id, hotel_name, hotel_phone, hotel_address, wifi, breakfast, amenity, park, swim, fitness, ent_approval, modify_date, star, hotel_info, hotel_intro, hotel_status, hotel_geo_x, hotel_geo_y,
		(select min(room_price) from hotel join room using(hotel_id) where hotel_id=hotel_id) as min_Price,
		(select round(avg(rating), 1) from review join reservation using(reservation_id) join room using(room_id) where hotel_id=hotel.hotel_id and review_status='Y') as avg_Rating
		from hotel
		where hotel_id=#{hotelId} and hotel_status='Y'
	</select>
	
	<select id="selectHotelImg" resultMap="attachedFileResultSet">
		select *
		from hotel_img
			join attached_file using(file_id)
		where hotel_id=#{hotelId}
		order by file_id
	</select>
	
	<select id="selectAllRoom" resultMap="roomResultSet">
		select room_id, room_name, room_price, checkin_time, checkout_time, room_info, room_intro, file_modify_name as thumbnail, total_number, max_accept
		<if test="checkinDate!=null and checkoutDate!=null">
		    ,empty_room(#{checkinDate}, #{checkoutDate}, room_id) as empty_room
		</if>
		from room
		    join room_img using(room_id)
		    join attached_file using(file_id)
		where hotel_id=#{hotelId} and room_status='Y' and file_thumbnail='Y'
		<if test='searchValue!=null and !searchValue.equals("")'>
			and instr(room_name, #{searchValue}) > 0
		</if>
		<if test="orderBy==null">
			order by room_id desc
		</if>
		<if test='orderBy!=null and orderBy.equals("최신순")'>
			order by room_id desc
		</if>
		<if test='orderBy!=null and orderBy.equals("낮은가격순")'>
			order by room_price
		</if>
		<if test='orderBy!=null and orderBy.equals("높은가격순")'>
			order by room_price desc
		</if>
	</select>
	
	<select id="selectAllRoomThumbnail" resultMap="attachedFileResultSet">
		select *
		from room_img
			join attached_file using(file_id)
			join room using(room_id)
		where hotel_id=#{hotelId} and room_status='Y' and file_thumbnail='Y'
		order by room_id desc
	</select>
	
	<select id="selectRoomImg" resultMap="attachedFileResultSet">
		select *
		from room_img
			join attached_file using(file_id)
		where room_id=#{roomId}
	</select>
	
	<select id="selectRoomThumbnail" resultMap="attachedFileResultSet">
		select *
		from room_img
			join attached_file using(file_id)
		where room_id=#{roomId} and file_thumbnail='Y'
	</select>
	
	<insert id="insertHotel">
		insert into hotel
		values(
			SEQ_HID.nextval, #{entId}, #{hotelName}, #{hotelPhone}, #{hotelAddress}, #{wifi}, #{breakfast}, #{amenity}, #{park}, #{swim}, #{fitness}, default, default, #{star}, #{hotelInfo}, #{hotelIntro}, default, #{hotelGeoX}, #{hotelGeoY}
		)
	</insert>
	
	<update id="updateHotel">
		update hotel
		set
			hotel_name=#{hotelName}, hotel_phone=#{hotelPhone}, hotel_address=#{hotelAddress},
			wifi=#{wifi}, breakfast=#{breakfast}, amenity=#{amenity}, park=#{park}, swim=#{swim}, fitness=#{fitness},
			star=#{star}, hotel_info=#{hotelInfo}, hotel_intro=#{hotelIntro}, hotel_geo_x=#{hotelGeoX}, hotel_geo_y=#{hotelGeoY}
		where hotel_id=#{hotelId}
	</update>
	
	<delete id="deleteFile">
		delete from attached_file
		where file_modify_name in
		<foreach collection="list" open="(" close=")" separator="," item="item">
			#{item}
		</foreach>
		and file_type='H'
	</delete>
	
	<insert id="updateHotelImg">
		insert all
		<foreach collection="list" item="a">
			into ATTACHED_FILE
			values(NEW_FID, 'H', sysdate, #{a.fileName}, #{a.fileModifyName}, #{a.fileLink}, default, #{a.fileThumbnail})
			into HOTEL_IMG
			values(CUR_FID, #{hotelId}, default)
		</foreach>
		select * from dual
	</insert>
	
	<update id="updateHotelThumbnail">
		update attached_file
		set file_thumbnail='Y'
		WHERE file_id = (select min(file_id) from attached_file join hotel_img using(file_id) where hotel_id=#{hotelId})
	</update>
	
	<insert id="insertHotelImg">
		insert all
		<foreach collection="list" item="a">
			into ATTACHED_FILE
			values(NEW_FID, #{a.fileType}, sysdate, #{a.fileName}, #{a.fileModifyName}, #{a.fileLink}, default, #{a.fileThumbnail})
			into HOTEL_IMG
			values(CUR_FID, SEQ_HID.currval, default)
		</foreach>
		select * from dual
	</insert>
	
	<insert id="updateRoomImg">
		insert all
		<foreach collection="list" item="a">
			into ATTACHED_FILE
			values(NEW_FID, 'H', sysdate, #{a.fileName}, #{a.fileModifyName}, #{a.fileLink}, default, #{a.fileThumbnail})
			into room_img
			values(CUR_FID, #{roomId})
		</foreach>
		select * from dual
	</insert>
	
	<update id="updateRoomThumbnail">
		update attached_file
		set file_thumbnail='Y'
		WHERE file_id = (select min(file_id) from attached_file join room_img using(file_id) where room_id=#{roomId})
	</update>
	
	<update id="updateRoom">
		update room
		set
			room_name=#{roomName}, max_accept=#{maxAccept}, room_price=#{roomPrice},
			checkin_time=#{checkinTime}, checkout_time=#{checkoutTime},
			total_number=#{totalNumber}, room_info=#{roomInfo}, room_intro=#{roomIntro}
		where room_id=#{roomId}
	</update>
	
	<update id="deleteRoom">
		update room
		set room_status='N'
		where room_id=#{roomId}
	</update>
	
	<update id="deleteRoomImg">
		update (
			select file_status
			from room_img
				join attached_file using(file_id)
			where room_id=#{roomId})
		set file_status='N'
	</update>
	
	
	<select id="selectRoom" resultMap="roomResultSet">
		select *
		from room
		where room_id=#{roomId}
	</select>
	
	<select id="getCurrentReservationId" resultType="_int">
		select SEQ_RESERVATIONID.nextval
		from dual
	</select>
	
	<insert id="insertReservation">
		insert all
			into reservation
			values(SEQ_RESERVATIONID.currval, #{r.memberId}, #{r.roomId}, #{r.checkinDate}, #{r.checkoutDate}, default, #{r.paymentMethod}, #{r.paymentAmount}, sysdate, #{r.reservationName}, #{r.reservationPhone})
		<foreach collection="list" item="re">
			into reserve
			values(#{re.reservationDate}, #{re.roomId}, SEQ_RESERVATIONID.currval)
		</foreach>
		select * from dual
	</insert>
	
	<select id="isLikeHotel" resultType="_int">
		select count(*)
		from like_hotel
		where id=#{id} and hotel_id=#{hotelId}
	</select>
	
	<insert id="insertLikeHotel">
		insert into like_hotel
		values(#{id}, #{hotelId})
	</insert>
	
	<delete id="deleteLikeHotel">
		delete from like_hotel
		where id=#{id} and hotel_id=#{hotelId}
	</delete>
	
	<select id="writableReview" resultMap="reservationResultSet">
		select *
		from reservation
			join room using(room_id)
		where member_id=#{memberId} and hotel_id=#{hotelId} and <![CDATA[checkout_date+1<sysdate]]>
			and (select count(*) from review where review.reservation_id=reservation.reservation_id)=0
		order by reservation.reservation_id desc
	</select>
	
	<insert id="insertReview">
		insert into review
		values(SEQ_REPLYID.nextval, #{memberId}, #{reservationId}, #{rating}, #{reviewContent}, default, null, default)
	</insert>
	
	<select id="selectReviewList" resultMap="reviewResultSet">
		select *
		from review
			join reservation using(reservation_id)
			join room using(room_id)
			join hotel using(hotel_id)
			join member on(review.member_id=id)
		where hotel_id=#{hotelId} and review_status='Y'
		<if test="searchByRoom!=null and searchByRoom!=0">
			and room_id=#{searchByRoom}
		</if>
		<if test="orderBy==null">
			order by review_id desc
		</if>
		<if test='orderBy!=null and orderBy.equals("최신순")'>
			order by review_id desc
		</if>
		<if test='orderBy!=null and orderBy.equals("별점순")'>
			order by rating desc
		</if>
	</select>
	
	<select id="selectAvgRating" resultType="_double">
		select nvl(round(avg(rating), 1), 0)
		from review
			join reservation using(reservation_id)
			join room using(room_id)
		where hotel_id=#{hotelId} and review_status='Y'
	</select>
	
	<select id="selectReviewCount" resultType="_int">
		select count(*)
		from review
			join reservation using(reservation_id)
			join room using(room_id)
		where hotel_id=#{hotelId} and review_status='Y'
	</select>
	
	<select id="selectHotelById" resultMap="hotelResultSet">
		select *
		from hotel
		where ent_id=#{id}
	</select>
	
	<select id="getListCount" resultType="_int">
		select count(*)
		from hotel
		where hotel_status='Y'
	</select>
	
	<select id="getSearchListCount" resultType="_int">
		select count(*)
		from hotel
			join hotel_img using(hotel_id)
            join attached_file using(file_id)
		where hotel_status='Y' and file_thumbnail='Y'
		<if test="maxPrice!=1000000">
			and min_price(hotel_id)<![CDATA[>=#{minPrice}]]>
			and min_price(hotel_id)<![CDATA[<=#{maxPrice}]]>
		</if>
		<if test="maxDistance!=0 and geoX!=0 and geoY!=0">
			and DISTNACE_WGS84(round(hotel_geo_x, 10), round(hotel_geo_y, 10), #{geoX}, #{geoY})<![CDATA[<#{maxDistance}]]>
		</if>
		<if test="star!=null">
			and star in
			<foreach collection="star" item="item" index="index" open="(" close=")" separator=",">#{item}</foreach>
		</if>
		<if test='wifi.equals("Y")'>
			and wifi='Y'
		</if>
		<if test='breakfast.equals("Y")'>
			and breakfast='Y'
		</if>
		<if test='amenity.equals("Y")'>
			and amenity='Y'
		</if>
		<if test='park.equals("Y")'>
			and park='Y'
		</if>
		<if test='swim.equals("Y")'>
			and swim='Y'
		</if>
		<if test='fitness.equals("Y")'>
			and fitness='Y'
		</if>
	</select>
	
	<select id="selectHotelList" resultMap="hotelResultSet">
		select hotel_id, ent_id, hotel_name, hotel_phone, hotel_address, wifi, breakfast, amenity, park, swim, fitness, ent_approval, modify_date, star, hotel_info, hotel_intro, hotel_status, hotel_geo_x, hotel_geo_y,
			nvl(min(room_price), 0) as min_price, nvl(round(avg(rating), 1),0) as avg_rating
		from hotel
		    left outer join room using(hotel_id)
		    left outer join reservation using(room_id)
		    left outer join review using(reservation_id)
		where hotel_status='Y'
		group by hotel_id, ent_id, hotel_name, hotel_phone, hotel_address, wifi, breakfast, amenity, park, swim, fitness, ent_approval, modify_date, star, hotel_info, hotel_intro, hotel_status, hotel_geo_x, hotel_geo_y
		order by hotel_id desc
	</select>

	
	<select id="searchHotelList" resultMap="hotelResultSet">
		select hotel_id, ent_id, hotel_name, hotel_phone, hotel_address, wifi, breakfast, amenity, park, swim, fitness, ent_approval, modify_date, star, hotel_info, hotel_intro, hotel_status, hotel_geo_x, hotel_geo_y,
			min_price(hotel_id) as min_price,
			avg_rating(hotel_id) as avg_rating,
			empty_hotel(#{checkinDate}, #{checkoutDate}, hotel_id) as empty_hotel,
			file_modify_name as thumbnail
			<if test="maxDistance!=0 and geoX!=0 and geoY!=0">
				, DISTNACE_WGS84(round(hotel_geo_x, 10), round(hotel_geo_y, 10), 126.950305407863, 37.5632043013128) as max_distance
			</if>
		from hotel
			join hotel_img using(hotel_id)
            join attached_file using(file_id)
		where hotel_status='Y' and file_thumbnail='Y'
		<if test="maxPrice!=1000000">
			and min_price(hotel_id)<![CDATA[>=#{minPrice}]]>
			and min_price(hotel_id)<![CDATA[<=#{maxPrice}]]>
		</if>
		<if test="maxDistance!=0 and geoX!=0 and geoY!=0">
			and DISTNACE_WGS84(round(hotel_geo_x, 10), round(hotel_geo_y, 10), #{geoX}, #{geoY})<![CDATA[<#{maxDistance}]]>
		</if>
		<if test="star!=null">
			and star in
			<foreach collection="star" item="item" index="index" open="(" close=")" separator=",">#{item}</foreach>
		</if>
		<if test='wifi.equals("Y")'>
			and wifi='Y'
		</if>
		<if test='breakfast.equals("Y")'>
			and breakfast='Y'
		</if>
		<if test='amenity.equals("Y")'>
			and amenity='Y'
		</if>
		<if test='park.equals("Y")'>
			and park='Y'
		</if>
		<if test='swim.equals("Y")'>
			and swim='Y'
		</if>
		<if test='fitness.equals("Y")'>
			and fitness='Y'
		</if>
		order by hotel_id desc
	</select>
	
	
	<update id="insertReply">
		update review
		set business_reply=#{businessReply}
		where review_id=#{reviewId}
	</update>
	
	
	<select id="selectReservationList" resultMap="reservationResultSet">
		select
			reservation_id, member_id, hotel_id, room_id, hotel_name, room_name, checkin_date, checkout_date, checkin_time, checkout_time, reservation_status, payment_method, payment_amount, payment_date, reservation_name, reservation_phone,
			round((sysdate-checkin_date), 0) as is_checkin, round((sysdate-checkout_date),0) as is_checkout
		from reservation
			join room using(room_id)
			join hotel using(hotel_id)
		where hotel_id=#{hotelId}
		<if	test='statusCategory.equals("before")'>
			<![CDATA[and (sysdate-checkin_date)<0 and (sysdate-checkin_date)<0 and reservation_status='Y']]>
		</if>
		<if	test='statusCategory.equals("using")'>
			<![CDATA[and (sysdate-checkin_date)>0 and (sysdate-checkin_date)<0 and reservation_status='Y']]>
		</if>
		<if	test='statusCategory.equals("after")'>
			<![CDATA[and (sysdate-checkin_date)>0 and (sysdate-checkin_date)>0 and reservation_status='Y']]>
		</if>
		<if	test='statusCategory.equals("Y")'>
			<![CDATA[and reservation_status='Y']]>
		</if>
		<if	test='statusCategory.equals("N")'>
			<![CDATA[and reservation_status='N']]>
		</if>
		<if test="roomCategory!=0">
			and room_id=#{roomCategory}
		</if>
		<if test='searchValue!=null and !searchValue.equals("")'>
			<![CDATA[and (instr(reservation_id, #{searchValue}) > 0 or instr(reservation_name, #{searchValue}) > 0)]]>
		</if>
		order by reservation_id desc
	</select>
	
	
	
	<select id="getReservationListCount" resultType="_int">
		select count(*)
		from reservation
			join room using(room_id)
			join hotel using(hotel_id)
		where hotel_id=#{hotelId}
		<if	test='statusCategory.equals("before")'>
			<![CDATA[and floor(sysdate-checkin_date)<0 and floor(sysdate-checkout_date)<0 and reservation_status='Y']]>
		</if>
		<if	test='statusCategory.equals("using")'>
			<![CDATA[and floor(sysdate-checkin_date)>=0 and floor(sysdate-checkout_date)<=0 and reservation_status='Y']]>
		</if>
		<if	test='statusCategory.equals("after")'>
			<![CDATA[and floor(sysdate-checkin_date)>0 and floor(sysdate-checkout_date)>0 and reservation_status='Y']]>
		</if>
		<if	test='statusCategory.equals("Y")'>
			<![CDATA[and reservation_status='Y']]>
		</if>
		<if	test='statusCategory.equals("N")'>
			<![CDATA[and reservation_status='N']]>
		</if>
		<if test="roomCategory!=0">
			and room_id=#{roomCategory}
		</if>
		<if test='searchValue!=null and !searchValue.equals("")'>
			and instr(reservation_id, #{searchValue}) > 0
			or instr(reservation_name, #{searchValue}) > 0
		</if>
	</select>
	
	
	
	
	<resultMap type="Hotel" id="hotelResultSet">
		<id column="HOTEL_ID" property="hotelId"/>
		<result column="ENT_ID" property="entId"/>
		<result column="HOTEL_NAME" property="hotelName"/>
		<result column="HOTEL_PHONE" property="hotelPhone"/>
		<result column="HOTEL_ADDRESS" property="hotelAddress"/>
		<result column="WIFI" property="wifi"/>
		<result column="BREAKFAST" property="breakfast"/>
		<result column="AMENITY" property="amenity"/>
		<result column="PARK" property="park"/>
		<result column="STAR" property="star"/>
		<result column="SWIM" property="swim"/>
		<result column="FITNESS" property="fitness"/>
		<result column="ENT_APPROVAL" property="entApproval"/>
		<result column="MODIFY_DATE" property="modifyDate"/>
		<result column="HOTEL_INFO" property="hotelInfo"/>
		<result column="HOTEL_INTRO" property="hotelIntro"/>
		<result column="HOTEL_STATUS" property="hotelStatus"/>
		<result column="MIN_PRICE" property="minPrice"/>
		<result column="AVG_RATING" property="avgRating"/>
		<result column="HOTEL_GEO_X" property="hotelGeoX"/>
		<result column="HOTEL_GEO_Y" property="hotelGeoY"/>
		<result column="EMPTY_HOTEL" property="emptyHotel"/>
		<result column="MAX_DISTANCE" property="maxDistance"/>
		<result column="THUMBNAIL" property="thumbnail"/>
	</resultMap>
	
	<resultMap type="Room" id="roomResultSet">
		<id column="ROOM_ID" property="roomId"/>
		<result column="HOTEL_ID" property="hotelId"/>
		<result column="MAX_ACCEPT" property="maxAccept"/>
		<result column="ROOM_NAME" property="roomName"/>
		<result column="ROOM_PRICE" property="roomPrice"/>
		<result column="CHECKIN_TIME" property="checkinTime"/>
		<result column="CHECKOUT_TIME" property="checkoutTime"/>
		<result column="TOTAL_NUMBER" property="totalNumber"/>
		<result column="ROOM_INFO" property="roomInfo"/>
		<result column="ROOM_INTRO" property="roomIntro"/>
		<result column="ROOM_STATUS" property="roomStatus"/>
		<result column="THUMBNAIL" property="thumbnail"/>
		<result column="EMPTY_ROOM" property="emptyRoom"/>
	</resultMap>
	
	<resultMap type="AttachedFile" id="attachedFileResultSet">
		<id column="ROOM_ID" property="fileId"/>
		<result column="FILE_TYPE" property="fileType"/>
		<result column="FILE_CREATE_DATE" property="fileCreateDate"/>
		<result column="FILE_NAME" property="fileName"/>
		<result column="FILE_MODIFY_NAME" property="fileModifyName"/>
		<result column="FILE_LINK" property="fileLink"/>
		<result column="FILE_STATUS" property="fileStatus"/>
		<result column="FILE_THUMBNAIL" property="fileThumbnail"/>
	</resultMap>
	
	<resultMap type="Reservation" id="reservationResultSet">
		<id column="RESERVATION_ID" property="reservationId"/>
		<result column="MEMBER_ID" property="memberId"/>
		<result column="HOTEL_ID" property="hotelId"/>
		<result column="ROOM_ID" property="roomId"/>
		<result column="HOTEL_NAME" property="hotelName"/>
		<result column="ROOM_NAME" property="roomName"/>
		<result column="CHECKIN_DATE" property="checkinDate"/>
		<result column="CHECKOUT_DATE" property="checkoutDate"/>
		<result column="RESERVATION_STATUS" property="reservationStatus"/>
		<result column="IS_CHECKIN" property="isCheckin"/>
		<result column="IS_CHECKOUT" property="isCheckout"/>
		<result column="PAYMENT_METHOD" property="paymentMethod"/>
		<result column="PAYMENT_AMOUNT" property="paymentAmount"/>
		<result column="PAYMENT_DATE" property="paymentDate"/>
		<result column="RESERVATION_NAME" property="reservationName"/>
		<result column="RESERVATION_PHONE" property="reservationPhone"/>
		<result column="CHECKIN_TIME" property="checkinTime"/>
		<result column="CHECKOUT_TIME" property="checkoutTime"/>
	</resultMap>
	
	<resultMap type="LikeHotel" id="likeHotelResultSet">
		<result column="ID" property="id"/>
		<result column="HOTEL_ID" property="hotelId"/>
	</resultMap>
	
	<resultMap type="Review" id="reviewResultSet">
		<result column="REVIEW_ID" property="reviewId"/>
		<result column="MEMBER_ID" property="memberId"/>
		<result column="NICKNAME" property="nickName"/>
		<result column="RESERVATION_ID" property="reservationId"/>
		<result column="HOTEL_NAME" property="hotelName"/>
		<result column="ROOM_NAME" property="roomName"/>
		<result column="CHECKIN_DATE" property="checkinDate"/>
		<result column="CHECKOUT_DATE" property="checkoutDate"/>
		<result column="RATING" property="rating"/>
		<result column="REVIEW_CONTENT" property="reviewContent"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="BUSINESS_REPLY" property="businessReply"/>
		<result column="REVIEW_STATUS" property="reviewStatus"/>
	</resultMap>
</mapper>