<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">

	<!--  로그인  -->
  <select id="login" resultMap="memberResultSet">
  	select *
  	from member
  	where id=#{id}
  		  and STATUS = 'Y'
  	</select>
  	<resultMap type="Member" id="memberResultSet">
  		<id column="ID" property="id"/>
  		<result column="PWD" property="pwd"/>
  		<result column="NAME" property="name"/>
  		<result column="NICKNAME" property="nickName"/>
  		<result column="EMAIL" property="email"/>
  		<result column="ADDRESS" property="address"/>
  		<result column="GENDER" property="gender"/>
  		<result column="ENROLL_DATE" property="enrollDate"/>
  		<result column="MEMBER_TYPE" property="memberType"/>
  		<result column="STATUS" property="status"/>
  		
  	</resultMap>
  	
  	<insert id="insertM">
  	insert into member
  	values(#{id}, #{pwd}, #{name}, #{nickName}, #{phone}, #{email}, #{address},#{gender}, default, default, default)
  </insert>
  
  	
  	<select id="checkId" resultType="_int">
  	select count(*)
  	from member
  	where USER_ID=#{id}
  		 
  	</select>
  	<update id="updateMember">
  		update member
  		set PASSWORD=#{pwd} , NICKNAME=#{nickName}, phone=#{phone}, address=#{address}
  		WHERE USER_ID = #{id}
  	</update>
  	
  	<select id="selectMyList" resultType="map">
  	select b.BOARD_ID, BOARD_TITLE, CREATE_DATE, BOARD_COUNT
		from BOARD_SCRAP b
		    join board A on b.BOARD_ID = a.BOARD_ID
		    join member m on b.USER_ID = m.USER_ID
		where m.USER_ID = #{id}
		order by b.BOARD_ID DESC
  	</select>
  	
  	<select id="checkEmail" resultType="_int">
  		select count(*)
	  	from member
	  	where email=#{email}
  	</select>
  	
  	<select id="idsol" resultType="_int">
  		select count(*)
	  	from member
	  	where id=#{id}
  	</select>
  	
  	<select id="checkNickName" resultType="_int">
  		select count(*)
	  	from member
	  	where nickname=#{nickName}
  	</select>
  	
  	
  	<insert id="visitCount">
  		insert into visit
  		values(#{id}, SYSDATE)
  	</insert>
  	
  	<select id="selectVisitCounter" resultMap="VisitResutSet">
  		select *
  		from visit
  		where ID = #{id} and to_char(VISIT_TIME, 'yyyymmdd') = to_char(SYSDATE, 'yyyymmdd')
  	</select>
  	
  	<resultMap type="Visit" id="VisitResutSet">
  		<id column="ID" property="id"/>
  		<result column="VISIT_TIME" property="VisitTime"/>
  		<result column="NICKNAME" property="nickName"/>
  		<result column="MEMBER_TYPE" property="mType"/>
  	</resultMap>
  	
  	<select id="selectVisitToday" resultMap="VisitResutSet">
  		select *
  		from visit
  			join member using(id)
  		where to_char(VISIT_TIME, 'yyyymmdd') = to_char(SYSDATE, 'yyyymmdd')
  	</select>
  </mapper>