<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">

	<!--  로그인  -->
  <select id="login" resultMap="memberResultSet">
  	select *
  	from member
  	where id=#{id}
  		  and STATUS = 'Y'
  	</select>
  	<resultMap type="Member" id="memberResultSet">
  		<id column="ID" property="id"/>
  		<result column="PWD" property="pwd"/>
  		<result column="NAME" property="name"/>
  		<result column="NICKNAME" property="nickName"/>
  		<result column="EMAIL" property="email"/>
  		<result column="ADDRESS" property="address"/>
  		<result column="GENDER" property="gender"/>
  		<result column="ENROLL_DATE" property="enrollDate"/>
  		<result column="MEMBER_TYPE" property="memberType"/>
  		<result column="STATUS" property="status"/>
  		<result column="REPORT" property="report"/>
  		<result column="LAST_VISIT" property="lastVisit"/>
  	</resultMap>
  	
  	<insert id="insertM">
  	insert into member
  	values(#{id}, #{pwd}, #{name}, #{nickName}, #{phone}, #{email}, #{address},#{gender}, default, default, default, default)
  </insert>
  
  	
  	<select id="checkId" resultType="_int">
  	select count(*)
  	from member
  	where USER_ID=#{id}
  		 
  	</select>
  	
  	<select id="selectMyList" resultType="map">
  	select b.BOARD_ID, BOARD_TITLE, CREATE_DATE, BOARD_COUNT
		from BOARD_SCRAP b
		    join board A on b.BOARD_ID = a.BOARD_ID
		    join member m on b.USER_ID = m.USER_ID
		where m.USER_ID = #{id}
		order by b.BOARD_ID DESC
  	</select>
  	
  	<select id="checkEmail" resultType="_int">
  		select count(*)
	  	from member
	  	where email=#{email}
  	</select>
  	
  	<select id="idsol" resultType="_int">
  		select count(*)
	  	from member
	  	where id=#{id}
  	</select>
  	
  	<select id="checkNickName" resultType="_int">
  		select count(*)
	  	from member
	  	where nickname=#{nickName}
  	</select>
  	
  	<select id="selectPwd" resultType="String">
  		select pwd
	  	from member
	  	where id=#{id}
  	</select>
  	<insert id="visitCount">
  		insert into visit
  		values(#{id}, SYSDATE)
  	</insert>
  	
  	<select id="selectVisitCounter" resultMap="VisitResutSet">
  		select *
  		from visit
  		where ID = #{id} and to_char(VISIT_TIME, 'yyyymmdd') = to_char(SYSDATE, 'yyyymmdd')
  	</select>
  	
  	<resultMap type="Visit" id="VisitResutSet">
  		<id column="ID" property="id"/>
  		<result column="VISIT_TIME" property="VisitTime"/>
  	</resultMap>
  	
  	<select id="selectVisitToday" resultMap="memberResultSet">
  		select *
  		from member
  			join visit using(id)
  		where to_char(VISIT_TIME, 'yyyymmdd') = to_char(SYSDATE, 'yyyymmdd')
  	</select>
  	
  	<select id="selectVisitList" resultType="map">
  		select visit_date, visit_count
		from (select to_char(visit_time, 'mm.dd') visit_date, count(*) visit_count
		      from visit
		      GROUP by to_char(visit_time, 'mm.dd')
		      order by visit_date desc)
		where rownum <![CDATA[<=]]> 7
  	</select>
  	
  	<select id="memberListCount" resultType="_int">
  		select count(*)
  		from member
  		where status = 'Y'
  	</select>
  	
  	<select id="selectMemberList" resultMap="memberResultSet">
		select id, name, nickname, phone, enroll_date, report, member_type, max(to_char(visit_time, 'yy-mm-dd')) LAST_VISIT
	    from member
	    left join VISIT using(id)
	    where status = 'Y' and
	    <if test="category == 0">
	    	MEMBER_TYPE = 'N'
	    </if>
	    <if test="category == 1">
	    	MEMBER_TYPE = 'H'
	    </if>
	    <if test="category == 2">
	    	MEMBER_TYPE = 'A'
	    </if>
	    <if test="search != null">
	    	and id LIKE '%'||#{search}||'%'
	    </if>
	    GROUP by (id, name, nickname, phone, enroll_date, report, member_type)
  	</select>
  	
  	<select id="enrollCount" resultType="map">
  		select enroll_date, member_count
		from (select to_char(enroll_date, 'mm.dd') enroll_date, count(*) member_count
		      from member
		      group by to_char(enroll_date, 'mm.dd')
		      order by enroll_date desc)
		where rownum <![CDATA[<=]]> 7
  	</select>
  	
  	<update id="updateMember">
  		update member
  		set pwd=#{pwd} , NICKNAME=#{nickName}, phone=#{phone}, address=#{address}
  		WHERE ID = #{id}
  	</update>
  	<update id="waring">
  		update member
  		set report = report + 1
  		where id = #{id}
  	</update>
  	
  	<update id="stop">
  		update member
  		set status = 'S'
  		where id = #{id}
  	</update>
  	<update id="changePassword">
  		update member
  		set pwd=#{pwd} 
  		WHERE ID = #{id}
  	</update>
  	<select id="selectEid">
  		select id
  		from member
  		where email=#{email}
  	</select>
  	<select id="bCount" resultType="map">
  		select *
		from (select to_char(BOARD_CREATE_DATE, 'mm.dd') create_date, count(*) count
		      from board
		      group by to_char(BOARD_CREATE_DATE, 'mm.dd')
		      order by create_date desc)
		where rownum <![CDATA[<=]]> 7
  	</select>
  	
  	<select id="boardListCount" resultType="_int">
  		select count(*)
  		from board
  		where board_status = 'Y'
  	</select>
  	
  	<select id="selectBoardList" resultMap="BoardResultSet">
  		select *
  		from board
  		where board_status = 'Y' and
  		<if test="category == 0">
  			BOARD_TYPE = 'R'
  		</if>
  		<if test="category == 1">
  			BOARD_TYPE = 'P'
  		</if>
  		<if test="search != null">
	    	and BOARD_TITLE LIKE '%'||#{search}||'%'
	    </if>
	    order by board_id desc
  	</select>
  	
  	<resultMap type="Board" id="BoardResultSet">
  		<id column="BOARD_ID" property="boardId"/>
  		<result column="BOARD_WRITER" property="boardWriter"/>
  		<result column="BOARD_TYPE" property="boardType"/>
  		<result column="BOARD_COURSE" property="boardCourse"/>
  		<result column="BOARD_TITLE" property="boardTitle"/>
  		<result column="BOARD_CONTENT" property="boardContent"/>
  		<result column="BOARD_CREATE_DATE" property="createDate"/>
  		<result column="BAORD_MODIFY_DATE" property="modifyDate"/>
  		<result column="BOARD_AREA" property="boardArea"/>
  		<result column="BOARD_STATUS" property="boardStatus"/>
  		<result column="FILE_MODIFY_NAME" property="fileModifyName"/>
  	</resultMap>
  	
  	<resultMap type="AD" id="ADResultSet">
  		<id column="FILE_ID" property="fileId"/>
  		<result column="BOARD_TYPE" property="boardType"/>
  		<result column="AD_PRICE" property="price"/>
  		<result column="START_DATE" property="start"/>
  		<result column="DEADLINE" property="deadline"/>
  	</resultMap>
  	
  	<select id="incomeCount" resultType="map">
  		select start_date, count
		from (select to_char(start_date, 'mm.dd') start_date, sum(ad_price) count
		      from AD
		      group by to_char(start_date, 'mm.dd')
		      order by start_date desc)
		where rownum <![CDATA[<=]]> 7
  	</select>
  	
  	<select id="selectADList" resultMap="ADResultSet">
  		select *
  		from AD
  		<if test="category == 0">
  			where BOARD_TYPE = 'H'
  		</if>
  		<if test="category == 1">
  			where BOARD_TYPE = 'R'
  		</if>
  		<if test="category == 2">
  			where BOARD_TYPE = 'P'
  		</if>
  		<if test="category == 3">
  			where BOARD_TYPE = 'T'
  		</if>
  		order by START_DATE desc
  	</select>
  	
  	<resultMap type="Reservation" id="reservationResultSet">
		<id column="RESERVATION_ID" property="reservationId"/>
		<result column="MEMBER_ID" property="memberId"/>
		<result column="HOTEL_ID" property="hotelId"/>
		<result column="HOTEL_NAME" property="hotelName"/>
		<result column="ROOM_ID" property="roomId"/>
		<result column="HOTEL_NAME" property="hotelName"/>
		<result column="ROOM_NAME" property="roomName"/>
		<result column="CHECKIN_DATE" property="checkinDate"/>
		<result column="CHECKOUT_DATE" property="checkoutDate"/>
		<result column="RESERVATION_STATUS" property="reservationStatus"/>
		<result column="PAYMENT_METHOD" property="paymentMethod"/>
		<result column="PAYMENT_AMOUNT" property="paymentAmount"/>
		<result column="PAYMENT_DATE" property="paymentDate"/>
		<result column="RESERVATION_NAME" property="reservationName"/>
		<result column="RESERVATION_PHONE" property="reservationPhone"/>
		<result column="CHECKIN_TIME" property="checkinTime"/>
		<result column="CHECKOUT_TIME" property="checkoutTime"/>
		<result column="FILE_MODIFY_NAME" property="fileModifyName"/>
		
	</resultMap>
	<select id="myInfoBCount1" resultType="_int">
	 select count(*)
	 from RESERVATION join ROOM using(room_id) JOIN HOTEL_IMG using(hotel_Id) JOIN ATTACHED_FILE using(FILE_Id) JOIN HOTEL using(hotel_Id)
		where member_id = #{id} and RESERVATION_STATUS = 'Y' and FILE_THUMBNAIL = 'Y'
	 
	</select>
	<select id="selectReserve" resultMap="reservationResultSet">
		  select *
		from RESERVATION join ROOM using(room_id) JOIN HOTEL_IMG using(hotel_Id) JOIN ATTACHED_FILE using(FILE_Id) JOIN HOTEL using(hotel_Id)
		where member_id = #{id} and RESERVATION_STATUS = 'Y' and FILE_THUMBNAIL = 'Y'
	</select>
	
	
	<resultMap type="AttachedFile" id="attachedFileResultSet">
		<id column="ROOM_ID" property="fileId"/>
		<result column="FILE_TYPE" property="fileType"/>
		<result column="FILE_CREATE_DATE" property="fileCreateDate"/>
		<result column="FILE_NAME" property="fileName"/>
		<result column="FILE_MODIFY_NAME" property="fileModifyName"/>
		<result column="FILE_LINK" property="fileLink"/>
		<result column="FILE_STATUS" property="fileStatus"/>
		<result column="FILE_THUMBNAIL" property="fileThumbnail"/>
	</resultMap>
	
	<insert id="insertAttm">
		insert all
		<foreach collection="list" item="a">
			into ATTACHED_FILE
			values(NEW_FID, 'S', sysdate, #{a.fileName}, #{a.fileModifyName}, #{a.fileLink}, default, 'Y')
			
		</foreach>
		select * from dual
	</insert>
	<select id="myInfoBCount" resultType="_int">
	 select count(*)
	 from QA
	 where QA_WRITER = #{id} and QA_STATUS= 'Y'
	 order by QA_CREATE_DATE desc
	</select>
	
	<resultMap type="QA" id="qaResultSet">
		<id column="QA_ID" property="qaId"/>
		<result column="QA_BOARD_ID" property="qaBoardId"/>
		<result column="QA_WRITER" property="qaWriter"/>
		<result column="QA_ RECEIVER" property="qaReceever"/>
		<result column="QA_TITLE" property="qaTitle"/>
		<result column="QA_CONTENT" property="qaContent"/>
		<result column="QA_YN" property="qaYn"/>
		<result column="QA_REPLY_CONTENT" property="qaReplyContent"/>
		<result column="QA_CREATE_DATE" property="qaCreateDate"/>
		<result column="QA_STATUS" property="qaStatus"/>
	</resultMap>
	<select id="selectQA" resultMap="qaResultSet">
		select *
		from QA
		where QA_WRITER = #{id} and  QA_STATUS='Y'
	</select>
	<update id="deleteBB">
  		update QA
  		set QA_STATUS='N'
  		WHERE QA_ID = #{id}
  	</update>
	<resultMap type="Hotel" id="hotelResultSet">
		<id column="HOTEL_ID" property="hotelId"/>
		<result column="ENT_ID" property="entId"/>
		<result column="HOTEL_NAME" property="hotelName"/>
		<result column="HOTEL_PHONE" property="hotelPhone"/>
		<result column="HOTEL_ADDRESS" property="hotelAddress"/>
		<result column="WIFI" property="wifi"/>
		<result column="BREAKFAST" property="breakfast"/>
		<result column="AMENITY" property="amenity"/>
		<result column="PARK" property="park"/>
		<result column="STAR" property="star"/>
		<result column="SWIM" property="swim"/>
		<result column="FITNESS" property="fitness"/>
		<result column="ENT_APPROVAL" property="entApproval"/>
		<result column="MODIFY_DATE" property="modifyDate"/>
		<result column="HOTEL_INFO" property="hotelInfo"/>
		<result column="HOTEL_INTRO" property="hotelIntro"/>
		<result column="HOTEL_STATUS" property="hotelStatus"/>
		<result column="MIN_PRICE" property="minPrice"/>
		<result column="AVG_RATING" property="avgRating"/>
		<result column="HOTEL_GEO_X" property="hotelGeoX"/>
		<result column="HOTEL_GEO_Y" property="hotelGeoY"/>
		<result column="EMPTY_HOTEL" property="emptyHotel"/>
		<result column="MAX_DISTANCE" property="maxDistance"/>
		<result column="FILE_MODIFY_NAME" property="fileModifyName"/>
	</resultMap>
	<select id="selectHotel" resultMap="hotelResultSet">
		select *
		from hotel join LIKE_HOTEL using(hotel_id) JOIN HOTEL_IMG using(hotel_Id) JOIN ATTACHED_FILE using(FILE_Id)
		where id = #{id} and HOTEL_STATUS = 'Y' and FILE_THUMBNAIL = 'Y'
		order by hotel_id desc
	</select>
	
	<update id="deleteDD">
  		update RESERVATION
  		set RESERVATION_STATUS='N'
  		WHERE RESERVATION_ID = #{id}
  	</update>
  	
  	<select id="myInfoBCount2" resultType="_int">
	 select count(*)
	 from hotel join LIKE_HOTEL using(hotel_id)
		where id = #{id}  and HOTEL_STATUS = 'Y'
	 
	</select>
	<update id="deleteAA">
  		delete from like_hotel
  		where id = #{id} and hotel_Id = #{hotelId}
  	</update>
  	
  		<select id="myInfoBCount3" resultType="_int">
	 select count(*)
	 from PARTY_PARTICIPATE
		where member_id = #{id}  
	 
	</select>
	
	<resultMap type="Party" id="partyResultSet">
		<id column="BOARD_ID" property="partyId"/>
		<result column="BOARD_WRITER" property="partyWriter"/>
		<result column="NICKNAME" property="nickName"/>
		<result column="BOARD_TYPE" property="boardType"/>
		<result column="BOARD_COURSE" property="partyCourse"/>
		<result column="BOARD_TITLE" property="partyTitle"/>
		<result column="BOARD_CONTENT" property="partyContent"/>
		<result column="BOARD_CREATE_DATE" property="createDate"/>
		<result column="BAORD_MODIFY_DATE" property="modifyDate"/>
		<result column="BOARD_AREA" property="partyArea"/>
		<result column="BOARD_STATUS" property="partyStatus"/>
		<result column="MAX_PARTICIPATE" property="maxParticipate"/>
		<result column="PARTY_STARTDATE" property="partyStartDate"/>
		<result column="PARTY_ENDDATE" property="partyEndDate"/>
		<result column="PARTY_GENDER" property="gender"/>
		<result column="FILE_MODIFY_NAME" property="thumbnail"/>
	</resultMap>
	<select id="myInfoBCount4" resultType="_int">
		select COUNT(*)
		from board
			 join member on(board_writer = id)
			 join party using(board_id)
			 join board_img using(board_id)
             join attached_file using(file_id)
             join PARTY_PARTICIPATE using (board_id)
             where MEMBER_ID = #{id}
		order by board_id desc

	</select>
	<select id="selectParty" resultMap="partyResultSet">
		select *
		from board
			 join member on(board_writer = id)
			 join party using(board_id)
			 join board_img using(board_id)
             join attached_file using(file_id)
             join PARTY_PARTICIPATE using (board_id)
             where MEMBER_ID = #{id}
		order by board_id desc

	</select>
	<select id="myInfoBCount5" resultType="_int">
		select COUNT(*)
		from board 
		where BOARD_WRITER = #{id} and BOARD_STATUS = 'Y'
	</select>
	
	<select id="seletB" resultMap="BoardResultSet">
		select *
		from board join board_img using (board_id) join ATTACHED_FILE using(file_id)
		where BOARD_WRITER = #{id} and BOARD_STATUS = 'Y' and FILE_THUMBNAIL='Y'
	</select>
  </mapper>