<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">

	<!--  로그인  -->
  <select id="login" resultMap="memberResultSet">
  	select *
  	from member
  	where id=#{id}
  		  and STATUS = 'Y'
  	</select>
  	<resultMap type="Member" id="memberResultSet">
  		<id column="ID" property="id"/>
  		<result column="PWD" property="pwd"/>
  		<result column="NAME" property="name"/>
  		<result column="NICKNAME" property="nickName"/>
  		<result column="EMAIL" property="email"/>
  		<result column="ADDRESS" property="address"/>
  		<result column="GENDER" property="gender"/>
  		<result column="ENROLL_DATE" property="enrollDate"/>
  		<result column="MEMBER_TYPE" property="memberType"/>
  		<result column="STATUS" property="status"/>
  		<result column="REPORT" property="report"/>
  		<result column="LAST_VISIT" property="lastVisit"/>
  	</resultMap>
  	
  	<insert id="insertM">
  	insert into member
  	values(#{id}, #{pwd}, #{name}, #{nickName}, #{phone}, #{email}, #{address},#{gender}, default, default, default, default)
  </insert>
  
  	
  	<select id="checkId" resultType="_int">
  	select count(*)
  	from member
  	where USER_ID=#{id}
  		 
  	</select>
  	<update id="updateMember">
  		update member
  		set PASSWORD=#{pwd} , NICKNAME=#{nickName}, phone=#{phone}, address=#{address}
  		WHERE USER_ID = #{id}
  	</update>
  	
  	<select id="selectMyList" resultType="map">
  	select b.BOARD_ID, BOARD_TITLE, CREATE_DATE, BOARD_COUNT
		from BOARD_SCRAP b
		    join board A on b.BOARD_ID = a.BOARD_ID
		    join member m on b.USER_ID = m.USER_ID
		where m.USER_ID = #{id}
		order by b.BOARD_ID DESC
  	</select>
  	
  	<select id="checkEmail" resultType="_int">
  		select count(*)
	  	from member
	  	where email=#{email}
  	</select>
  	
  	<select id="idsol" resultType="_int">
  		select count(*)
	  	from member
	  	where id=#{id}
  	</select>
  	
  	<select id="checkNickName" resultType="_int">
  		select count(*)
	  	from member
	  	where nickname=#{nickName}
  	</select>
  	
  	
  	<insert id="visitCount">
  		insert into visit
  		values(#{id}, SYSDATE)
  	</insert>
  	
  	<select id="selectVisitCounter" resultMap="VisitResutSet">
  		select *
  		from visit
  		where ID = #{id} and to_char(VISIT_TIME, 'yyyymmdd') = to_char(SYSDATE, 'yyyymmdd')
  	</select>
  	
  	<resultMap type="Visit" id="VisitResutSet">
  		<id column="ID" property="id"/>
  		<result column="VISIT_TIME" property="VisitTime"/>
  	</resultMap>
  	
  	<select id="selectVisitToday" resultMap="memberResultSet">
  		select *
  		from member
  			join visit using(id)
  		where to_char(VISIT_TIME, 'yyyymmdd') = to_char(SYSDATE, 'yyyymmdd')
  	</select>
  	
  	<select id="selectVisitList" resultType="map">
  		select visit_date, visit_count
		from (select to_char(visit_time, 'mm-dd') visit_date, count(*) visit_count
		      from visit
		      GROUP by to_char(visit_time, 'mm-dd')
		      order by visit_date desc)
		where rownum <![CDATA[<=]]> 7
  	</select>
  	
  	<select id="memberListCount" resultType="_int">
  		select count(*)
  		from member
  		where status = 'Y'
  	</select>
  	
  	<select id="selectMemberList" resultMap="memberResultSet">
		select id, name, nickname, phone, enroll_date, report, max(to_char(visit_time, 'yy-mm-dd')) LAST_VISIT
	    from member
	    left join VISIT using(id)
	    where status = 'Y' and
	    <if test="category == 0">
	    	MEMBER_TYPE = 'N'
	    </if>
	    <if test="category == 1">
	    	MEMBER_TYPE = 'H'
	    </if>
	    <if test="category == 2">
	    	MEMBER_TYPE = 'A'
	    </if>
	    <if test="search != null">
	    	and id LIKE '%'||#{search}||'%'
	    </if>
	    GROUP by (id, name, nickname, phone, enroll_date, report)
  	</select>
  	
  	<select id="enrollCount" resultType="map">
  		select enroll_date, member_count
		from (select to_char(enroll_date, 'yy-mm-dd') enroll_date, count(*) member_count
		      from member
		      group by to_char(enroll_date, 'yy-mm-dd')
		      order by enroll_date desc)
		where rownum <![CDATA[<=]]> 7
  	</select>
  	
  	<update id="waring">
  		update member
  		set report = report + 1
  		where id = #{id}
  	</update>
  	
  	<update id="stop">
  		update member
  		set status = 'S'
  		where id = #{id}
  	</update>
  </mapper>