<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="partyMapper">

	<!-- partyResultMap -->
	<resultMap type="Party" id="partyResultSet">
		<id column="BOARD_ID" property="partyId"/>
		<result column="BOARD_WRITER" property="partyWriter"/>
		<result column="NICKNAME" property="nickName"/>
		<result column="BOARD_TYPE" property="boardType"/>
		<result column="BOARD_COURSE" property="partyCourse"/>
		<result column="BOARD_TITLE" property="partyTitle"/>
		<result column="BOARD_CONTENT" property="partyContent"/>
		<result column="BOARD_CREATE_DATE" property="createDate"/>
		<result column="BOARD_MODIFY_DATE" property="modifyDate"/>
		<result column="BOARD_AREA" property="partyArea"/>
		<result column="BOARD_STATUS" property="partyStatus"/>
		<result column="MAX_PARTICIPATE" property="maxParticipate"/>
		<result column="PARTY_STARTDATE" property="partyStartDate"/>
		<result column="PARTY_ENDDATE" property="partyEndDate"/>
		<result column="PARTY_GENDER" property="partyGender"/>
		<result column="GENDER" property="memberGender"/>
		<result column="FILE_MODIFY_NAME" property="thumbnail"/>
		<result column="CONTENT_COURSE" property="contentCourse"/>
		<result column="FILE_ID" property="fileId"/>
	</resultMap>
	
	<!-- 글입력 -->
	<insert id="insertParty">
		insert all
		into board values(SEQ_BID.nextval, #{p.partyWriter}, 'P', #{p.partyCourse}, #{p.partyTitle}, #{p.partyContent}, sysdate, sysdate, #{p.partyArea}, default, #{p.contentCourse})
		into attached_file values(SEQ_FID.nextval, 'P', sysdate, #{af.fileName}, #{af.fileModifyName}, #{af.fileLink}, default, 'Y')
		into board_img values(SEQ_FID.currval, SEQ_BID.nextval)
		into party values(SEQ_BID.currval, #{p.maxParticipate}, to_date(#{p.partyStartDate}), to_date(#{p.partyEndDate}), #{p.partyGender})
		select * from dual
	</insert>
	
	<!-- listCount -->
	<select id="getListCount" resultType="_int">
		select count(*)
		from board
		where board_status='Y'
			  and board_type='P'
	</select>
	
	<!-- 동행리스트(글) -->
	<select id="selectPartyList" resultMap="partyResultSet">
		select *
		from board
			 join member on(board_writer = id)
			 join party using(board_id)
			 join board_img using(board_id)
             join attached_file using(file_id)
       	where board_status='Y'
		order by board_id desc
	</select>
	
	<!-- 동행 상세보기 -->
	<select id="selectParty" resultMap="partyResultSet">
		select *
		from board
			 join member on(board_writer = id)
			 join party using(board_id)
			 join board_img using(board_id)
             join attached_file using(file_id)
        where board_id=#{pId}
	</select>
	
	<!-- 동행 검색 -->
	<select id="searchParty" resultMap="partyResultSet">
		select *
		from board
			 join member on(board_writer = id)
			 join party using(board_id)
			 join board_img using(board_id)
             join attached_file using(file_id)
       	where board_status='Y'
       	<if test='partyArea != null and !partyArea.equals("")'>
       		and board_area=#{partyArea}
       	</if>
       	<if test='partyGender != null and !partyGender.equals("")'>
       		and party_gender=#{partyGender}
       	</if>
       	<if test='partyStartDate != null and !partyStartDate.equals("")'>
       		and party_startdate <![CDATA[<]]> to_date(#{partyStartDate})
       	</if>
       	<if test='partyEndDate != null and !partyEndDate.equals("")'>
       		and party_enddate <![CDATA[>]]> to_date(#{partyEndDate})
       	</if>
       	<if test='searchValue != null and !searchValue.equals("")'>
       		and board_title like '%' || #{searchValue} || '%'
       		or board_content like '%' || #{searchValue} || '%'
       	</if>
		order by board_id desc
	</select>
	
	<!-- 동행 검색 개수 -->
	<select id="getSearchListCount" resultType="_int">
		select count(*)
		from board
			 join member on(board_writer = id)
			 join party using(board_id)
			 join board_img using(board_id)
             join attached_file using(file_id)
       	where board_status='Y'
       	<if test='partyArea != null and !partyArea.equals("")'>
       		and board_area=#{partyArea}
       	</if>
       	<if test='partyGender != null and !partyGender.equals("")'>
       		and party_gender=#{partyGender}
       	</if>
       	<if test='partyStartDate != null and !partyStartDate.equals("")'>
       		and party_startdate <![CDATA[<]]> to_date(#{partyStartDate})
       	</if>
       	<if test='partyEndDate != null and !partyEndDate.equals("")'>
       		and party_enddate <![CDATA[>]]> to_date(#{partyEndDate})
       	</if>
       	<if test='searchValue != null and !searchValue.equals("")'>
       		and board_title like '%' || #{searchValue} || '%'
       		or board_content like '%' || #{searchValue} || '%'
       	</if>
		order by board_id desc
	</select>
	
	<!-- 동행 글 수정 -->
	<update id="updateBoard">
		update board
		set board_course=#{p.partyCourse},
			board_title=#{p.partyTitle},
			board_content=#{p.partyContent},
			board_modify_date=sysdate,
			board_area=#{p.partyArea},
			content_course=#{p.contentCourse}
		where board_id=#{p.partyId}
	</update>
	<update id="updateParty">
		update party
		set max_participate=#{p.maxParticipate},
			party_startdate=#{p.partyStartDate},
			party_enddate=#{p.partyEndDate},
			party_gender=#{p.partyGender}
		where board_id=#{p.partyId}
	</update>
	<update id="updateAttm">
		update attached_file
		set file_name=#{af.fileName},
			file_modify_name=#{af.fileModifyName}
		where file_id=#{p.fileId}
	</update>
	
	<!-- 동행 글 삭제 -->
	<update id="deleteBoard"> 
		update board
		set board_status='N'
		where board_id=#{partyId}
	</update>
	<update id="deleteAttm"> 
		update attached_file
		set file_status='N'
		where file_id=#{fileId}
	</update>
	<delete id="deletePartyParticipate">
		delete from party_participate
		where board_id=#{partyId}
	</delete>
	
	<!-- 동행 참여 -->
	<insert id="participate">
		insert into party_participate values(#{memberId}, #{boardId})
	</insert>
	
	<!-- 동행 참여자 수 -->
	<select id="countParty" resultType="_int">
		select count(*)
		from party_participate
		where board_id=#{pId}
	</select>
	
	<!-- 동행 참여 확인 -->
	<select id="checkParty" resultType="_int">
		select count(*)
		from party_participate
		where board_id=#{boardId}
			  and member_id=#{memberId}
	</select>
	
	<!-- 동행 참여 취소 -->
	<delete id="deleteParticipate">
		delete from party_participate
		where board_id=#{boardId} and member_id=#{memberId}
	</delete>
	
	<!-- 신고 중복 체크 -->
	<select id="checkReport" resultType="_int">
		select count(*)
		from report
		where member_id=#{memberId}
			  and target_id=#{targetId}
			  and report_classification=#{reportClassification}
	</select>
	
	<!-- 신고입력 -->
	<insert id="insertReport">
		insert into report values(seq_reportid.nextval, #{memberId}, #{targetId}, #{reportClassification}, #{reportContent}, sysdate, default, #{reportTitle}, default)
	</insert>
</mapper>