<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="partyMapper">

	<!-- partyResultMap -->
	<resultMap type="Party" id="partyResultSet">
		<id column="BOARD_ID" property="partyId"/>
		<result column="BOARD_WRITER" property="partyWriter"/>
		<result column="NICKNAME" property="nickName"/>
		<result column="BOARD_TYPE" property="boardType"/>
		<result column="BOARD_COURSE" property="partyCourse"/>
		<result column="BOARD_TITLE" property="partyTitle"/>
		<result column="BOARD_CONTENT" property="partyContent"/>
		<result column="BOARD_CREATE_DATE" property="createDate"/>
		<result column="BAORD_MODIFY_DATE" property="modifyDate"/>
		<result column="BOARD_AREA" property="partyArea"/>
		<result column="BOARD_STATUS" property="partyStatus"/>
		<result column="MAX_PARTICIPATE" property="maxParticipate"/>
		<result column="PARTY_STARTDATE" property="partyStartDate"/>
		<result column="PARTY_ENDDATE" property="partyEndDate"/>
		<result column="PARTY_GENDER" property="gender"/>
		<result column="FILE_MODIFY_NAME" property="thumbnail"/>
	</resultMap>
	
	<!-- 글입력 -->
	<insert id="insertParty">
		insert all
		into board values(SEQ_BID.nextval, #{p.partyWriter}, 'P', #{p.partyCourse}, #{p.partyTitle}, #{p.partyContent}, sysdate, sysdate, #{p.partyArea}, default)
		into attached_file values(SEQ_FID.nextval, 'P', sysdate, #{af.fileName}, #{af.fileModifyName}, #{af.fileLink}, default, 'Y')
		into board_img values(SEQ_FID.currval, SEQ_BID.nextval)
		into party values(SEQ_BID.currval, #{p.maxParticipate}, to_date(#{p.partyStartDate}), to_date(#{p.partyEndDate}), #{p.gender})
		select * from dual
	</insert>
	
	<!-- listCount -->
	<select id="getListCount" resultType="_int">
		select count(*)
		from board
		where board_status='Y'
			  and board_type='P'
	</select>
	
	<!-- 동행리스트(글) -->
	<select id="selectPartyList" resultMap="partyResultSet">
		select *
		from board
			 join member on(board_writer = id)
			 join party using(board_id)
			 join board_img using(board_id)
             join attached_file using(file_id)
		order by board_id desc
	</select>
	
	<!-- 동행 상세보기 -->
	<select id="selectParty" resultMap="partyResultSet">
		select *
		from board
			 join member on(board_writer = id)
			 join party using(board_id)
			 join board_img using(board_id)
             join attached_file using(file_id)
        where board_id=#{pId}
        	  and board_status='Y'
	</select>
</mapper>