<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="reviewMapper">

	<!-- partyResultMap -->
	<resultMap type="Board" id="boardResultSet">
		<id column="BOARD_ID" property="boardId"/>
		<result column="BOARD_WRITER" property="boardWriter"/>
		<result column="BOARD_TYPE" property="boardType"/>
		<result column="BOARD_COURSE" property="boardCourse"/>
		<result column="BOARD_TITLE" property="boardTitle"/>
		<result column="BOARD_CONTENT" property="boardContent"/>
		<result column="BOARD_CREATE_DATE" property="createDate"/>
		<result column="BOARD_MODIFY_DATE" property="modifyDate"/>
		<result column="BOARD_AREA" property="boardArea"/>
		<result column="BOARD_STATUS" property="boardStatus"/>
		<result column="FILE_MODIFY_NAME" property="fileModifyName"/>
		<result column="CONTENT_COURSE" property="contentCourse"/>
		<result column="FILE_ID" property="fileId"/>
	</resultMap>
	<select id = "boardDetail" resultMap="boardResultSet">
	select BOARD_ID, BOARD_WRITER, BOARD_COURSE, BOARD_TITLE, BOARD_CONTENT, BOARD_CREATE_DATE, CONTENT_COURSE
	from board
	where board_id = #{boardId}
	
	
	</select>
	<resultMap type="AttachedFile" id="attachedFileResultSet">
		<id column="FILE_ID" property="fileId"/>
		<result column="FILE_TYPE" property="fileType"/>
		<result column="FILE_CREATE_DATE" property="fileCreateDate"/>
		<result column="FILE_NAME" property="fileName"/>
		<result column="FILE_MODIFY_NAME" property="fileModifyName"/>
		<result column="FILE_LINK" property="fileLink"/>
		<result column="FILE_STATUS" property="fileStatus"/>
		<result column="FILE_THUMBNAIL" property="fileThumbnail"/>
	</resultMap>
	
	<select id = "boardImg" resultMap="attachedFileResultSet">
	  
    select FILE_MODIFY_NAME
	from ATTACHED_FILE join board_img using (FILE_ID)
	where board_id = #{ boardId }
	</select>
	<select id="getSelectBoard" resultType="_int">
	
	select count(*)
	from board join BOARD_IMG using(BOARD_ID) join ATTACHED_FILE using(FILE_ID)
	where BOARD_STATUS ='Y' AND FILE_THUMBNAIL = 'Y' AND FILE_TYPE = 'R'
	<if test="Sarea == 2">
	 AND BOARD_AREA = '서울'
	 </if>
	  <if test="Sarea == 3">
	 AND BOARD_AREA = '인천'
	 </if>
	 <if test="Sarea == 4">
	 AND BOARD_AREA = '대전'
	 </if>
	 	 <if test="Sarea == 5">
	 AND BOARD_AREA = '대구'
	 </if>
	 	 <if test="Sarea == 6">
	 AND BOARD_AREA = '광주'
	 </if>
	 	 <if test="Sarea == 7">
	 AND BOARD_AREA = '부산'
	 </if>
	 	 <if test="Sarea == 8">
	 AND BOARD_AREA = '울산'
	 </if>
	 	 <if test="Sarea == 9">
	 AND BOARD_AREA = '세종'
	 </if>
	 	 <if test="Sarea == 10">
	 AND BOARD_AREA = '경기'
	 </if>
	 	 <if test="Sarea == 11">
	 AND BOARD_AREA = '강원'
	 </if>
	 	 <if test="Sarea == 12">
	 AND BOARD_AREA = '충북'
	 </if>
	 	 <if test="Sarea == 13">
	 AND BOARD_AREA = '충남'
	 </if>
	 	 <if test="Sarea == 14">
	 AND BOARD_AREA = '경북'
	 </if>
	 	 <if test="Sarea == 15">
	 AND BOARD_AREA = '경남'
	 </if>
	 	 <if test="Sarea == 16">
	 AND BOARD_AREA = '전북'
	 </if>
	 	 <if test="Sarea == 17">
	 AND BOARD_AREA = '전남'
	 </if>
	 	 <if test="Sarea == 18">
	 AND BOARD_AREA = '제주'
	 </if>
	</select>
	
	<select id="selectBoard" resultMap="boardResultSet">
	
	select *
	from board join BOARD_IMG using(BOARD_ID) join ATTACHED_FILE using(FILE_ID)
	where BOARD_STATUS ='Y' AND FILE_THUMBNAIL = 'Y' AND FILE_TYPE = 'R'
	
	 <if test="Sarea == 2">
	 AND BOARD_AREA = '서울'
	 </if>
	  <if test="Sarea == 3">
	 AND BOARD_AREA = '인천'
	 </if>
	 <if test="Sarea == 4">
	 AND BOARD_AREA = '대전'
	 </if>
	 	 <if test="Sarea == 5">
	 AND BOARD_AREA = '대구'
	 </if>
	 	 <if test="Sarea == 6">
	 AND BOARD_AREA = '광주'
	 </if>
	 	 <if test="Sarea == 7">
	 AND BOARD_AREA = '부산'
	 </if>
	 	 <if test="Sarea == 8">
	 AND BOARD_AREA = '울산'
	 </if>
	 	 <if test="Sarea == 9">
	 AND BOARD_AREA = '세종'
	 </if>
	 	 <if test="Sarea == 10">
	 AND BOARD_AREA = '경기'
	 </if>
	 	 <if test="Sarea == 11">
	 AND BOARD_AREA = '강원'
	 </if>
	 	 <if test="Sarea == 12">
	 AND BOARD_AREA = '충북'
	 </if>
	 	 <if test="Sarea == 13">
	 AND BOARD_AREA = '충남'
	 </if>
	 	 <if test="Sarea == 14">
	 AND BOARD_AREA = '경북'
	 </if>
	 	 <if test="Sarea == 15">
	 AND BOARD_AREA = '경남'
	 </if>
	 	 <if test="Sarea == 16">
	 AND BOARD_AREA = '전북'
	 </if>
	 	 <if test="Sarea == 17">
	 AND BOARD_AREA = '전남'
	 </if>
	 	 <if test="Sarea == 18">
	 AND BOARD_AREA = '제주'
	 </if>
	order by board_id desc
	 
	 
	</select>
	<resultMap type="Reply" id="replyResultSet">
		<id column="REPLY_ID" property="replyId"/>
		<result column="REPLY_WRITER" property="replyWriter"/>
		<result column="NICKNAME" property="nickName"/>
		<result column="REF_BOARD_ID" property="refBoardId"/>
		<result column="REPLY_CONTENT" property="replyContent"/>
		<result column="REPLY_CREATE_DATE" property="replyCreateDate"/>
		<result column="REPLY_MODIFY_DATE" property="replyModifyDate"/>
		<result column="REPLY_STATUS" property="replyStatus"/>
		<result column="REF_REPLY_ID" property="refReplyId"/>
	</resultMap>
	
	<select id="countReply" resultType="_int">
		select count(*)
		from Reply
		where REPLY_STATUS = 'Y' and REF_BOARD_ID = #{boardId} 
	</select>
	
	<select id="selectReply" resultMap="replyResultSet">
		select *
		from Reply 
		where REPLY_STATUS = 'Y' and REF_BOARD_ID = #{boardId} and REF_REPLY_ID='0'
		order by reply_id desc
	</select>
	
	<insert id="insertBoard">
  		insert all
  		into board values(SEQ_BID.nextval, #{b.boardWriter}, 'R', #{b.boardCourse}, #{b.boardTitle}, #{b.boardContent}, sysdate, sysdate, #{b.boardArea}, default, #{b.contentCourse})
		<foreach collection="list" item="a" separator=" ">
			into ATTACHED_FILE
			values(NEW_FID, 'R', sysdate, #{a.fileName}, #{a.fileModifyName}, #{a.fileLink}, default, #{a.fileThumbnail})
			into board_img values(CUR_FID, SEQ_BID.currval)
		</foreach>
		select * from dual
	</insert>
	<insert id="insertReport">
		insert into REPORT
		values (SEQ_REPORTID.nextval, #{memberId},  #{targetId}, 'R', #{reportContent}, sysdate, default, #{reportTitle}, null  )
	</insert>
	
	
</mapper>